.About {

    h3,
    h5 {
        margin: 20px;
    }

    h3 {
        margin-top: 60px;
    }

    p {
        font-size: .6rem;
        text-align: justify;
        padding: 0px 60px;
    }

    .logistics {
        display: grid;
        grid-template-columns: 1fr 1fr;

        >* {
            display: flex;
            flex-direction: column;

            p {
                font-size: .4rem;
                margin: 0;
                padding: 0px 75px;

                a {
                    // text-decoration: none;
                }
            }
        }
    }
}