@use "../../index.scss" as i;


.ServicesSection {
    @include i.secondary_color_background;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px 100px;
    scroll-margin-top: 100px;

    .services-headers-container {
        grid-column: span 3;
        display: flex;
        flex-direction: column;

        h1 {
            @include i.primary_color_text;
            font-size: 1.35rem;
            margin: 0;
            height: fit-content;
        }

        h3 {
            font-size: .8rem;
            font-weight: 500;
        }
    }

    .col {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        // p {
        //     font-size: .6rem;
        //     text-align: left;
        // }
    }

}

@media only screen and (max-width: 1200px) {
    .ServicesSection {
        height: fit-content;
        grid-template-columns: 1fr;
        padding: 0px 25vw;
        row-gap: 30px;

        h1 {
            display: flex;
            justify-content: center;
        }

        .col {
            grid-column: span 3;

            &:nth-of-type(4) {
                margin-bottom: 50px;
            }
        }
    }
}