.Book {
    box-sizing: border-box;
    width: 140px;
    height: 288px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    transition: 350ms all;

    img {
        width: 100%;
    }

    span {
        width: 100%;
        font-size: .5rem;

        &.title {
            font-weight: 600;
        }

        &.author {
            font-weight: 300;
        }
    }
}