@use '../../../../index.scss' as i;

.Book {
    box-sizing: border-box;
    width: 140px;
    height: 280px;
    display: flex;
    flex-direction: column;


    img {
        width: 100%;
    }

    span {
        width: 100%;
        font-size: .5rem;

        .title {}

        &.author {
            font-weight: 300;
        }
    }
}