.Articles {
    margin: 0 20vw;

    h3 {
        margin: 120px 20px 20px;
    }

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        list-style-type: none;
    }
}