.Navbar2 {
    .language-switcher {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 35px;
            cursor: pointer;
            margin: 0px 15px;
        }

        &:nth-last-of-type(1) {
            visibility: hidden;
        }
    }

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    max-width: 100vw;

    .inner-ul {
        // box-sizing: border-box;
        margin: 0;
        padding: 0;
        background-color: var(--primary-color);
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    }

    // a[class="logo active"],
    // a[class="NavbarItem searchItem active"] {
    //     background-color: #952323;
    // }

    // a[class="NavbarItem searchItem active"]:hover {
    //     cursor: auto;
    // }

    // .active {
    //     background-color: var(--secondary-color);
    // }

    // a:hover {
    //     background-color: var(--secondary-color)
    // }

    // a[class="logo"]:hover,
    // a[class="logo active"]:hover {
    //     background-color: #952323
    // }

}