@use '../../index.scss' as i;

.Header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    span{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 75%;
            // padding: 30px 0px;
        }
    }
}