.Navbar {
    width: 100vw;
    font-size: .8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: top 0.3s;

    text-align: center;
    box-sizing: border-box;
    max-width: 900px;
    height: 30px;
    margin-bottom: 15px;

    ul {
        height: 30px;
        padding: 0;
        list-style-type: none;
        display: flex;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;

        li {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                padding: 0px 40px;
                height: 100%;
                line-height: 100%;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                text-decoration: none;
                color: var(--text-color);
                font-size: .45rem;
                transition: .5s;
                width: 105%;
                z-index: 1;

                &:hover {
                    color: var(--background-color);
                    background-color: var(--primary-color);
                }
            }

            // LOGO:
            // &:nth-child(4) {
            //     overflow: visible;

            //     a {
            //         padding: 0;
            //         display: flex;
            //         justify-content: center;
            //         align-items: center;

            //         &:before {
            //             border: 0;
            //         }
            //     }

            //     img {
            //         width: 45px;
            //         margin: 0px 10px;
            //     }
            // }

        }
    }
}