.AuthorPage {
    padding: 0 50px;

    ul{
        margin-top: 30px;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 30px;
    }
}