.AuthorPage {
    margin: 0 20vw;

    h3 {
        margin: 120px 20px 20px;
    }

    ul {
        margin-top: 30px;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 30px;
    }
}